<span class="cmd" style="float:left; margin: 0 0 0 0;" data-type="action" data-subtype="other" data-cmd_id="#id#">
    <a class="action cmdName" style="margin : 0 0 0 0;border: none;border-radius : 0px;color:black;"><img src="plugins/tvphillips/core/template/images/#remote#/#name#.png" /></a>
    <!--
    <script>
        $('.cmd[data-cmd_id=#id#] .action').off();
        $('.cmd[data-cmd_id=#id#] .action').on('click', function () {
            jeedom.cmd.execute({id: '#id#'});
        });
        if ($('.cmd[data-cmd_id=#id#]').prev().data('subtype') != undefined && $('.cmd[data-cmd_id=#id#]').prev().data('subtype') != 'other'
                && $('.cmd[data-cmd_id=#id#]').prev().css('display') != 'block') {
            $('.cmd[data-cmd_id=#id#]').prepend('<br/>');
        }
        setTimeout(function () {
            if ($('.cmd[data-cmd_id=#id#]').next().data('subtype') != undefined && $('.cmd[data-cmd_id=#id#]').next().data('subtype') != 'other'
                    && $('.cmd[data-cmd_id=#id#]').next().css('display') != 'block') {
                $('.cmd[data-cmd_id=#id#]').append('<br/>');
            }
        }, 100);
    </script>
    -->
</span>