<div class="eqLogic eqLogic-widget" data-eqLogic_id="#id#" data-version="dashboard" style="background-color: #background_color#;max-width: #max_width#;#style#" data-category="#category#">
    <span class="statusCmd" style="position : absolute;left : 5px; width : 30px;z-index: 1030;"></span>
    <center class="widget-name">
        <a href="#eqLink#" style="font-size : 1.5em;">#name#</a>
    </center>
    <div class="verticalAlign" style="height: 602px; width : 150px;">
            <span>#action#</span>
    </div>
</div>

<script>
    if ('#noResize#' == 1) {
        $('.eqLogic[data-eqLogic_id=#id#]').addClass('noResize');
    }
</script>




